<%= javascript_include_tag 'part/accounting', 'data-turbolinks-track' => 'reload' %>
<div class="page-header">
  <h2><%= t("helpers.titles.accounting") %></h2>
  <h4><%= t("helpers.attributes.accounting.members") %> : <%= h @accountings.size %></h4>
  <h4><%= t("helpers.attributes.accounting.fee") %> : <%= m @fee %></h4>
</div>

<div class="table-responsive" id="accountings_table">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr class="nowrap">
        <th><%= t("helpers.attributes.accounting.room_member") %></th>
        <th><%= t("helpers.attributes.accounting.payment") %></th>
        <th><%= t("helpers.attributes.accounting.amount") %></th>
        <th><%= t("helpers.attributes.accounting.paid") %></th>
      </tr>
    </thead>
    <tbody>
      <% @accountings.each do |accounting| %>
        <tr class="nowrap">
          <td><%= accounting[:room_member] %></td>
          <td><%= m accounting[:payment] %></td>
          <td>
            <strong><%= m accounting[:amount] %></strong> <%= accounting[:message] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
