<div class="page-header">
  <h1>Twitter名言Bot</h1>
</div>
<p id="notice"><%= @notice %></p>
<%= form_tag(controller: :home, action: :tweet) do %>
  <table class="table table-striped">
    <tr>
      <td>
        <label>カテゴリー</label>
      </td>
      <td>
        <select class="select1" id="select_category" name="category">
          <%= options_for_select(@res) %>
        </select>
      </td>
      <td>
        <%= submit_tag "Tweet", class: 'btn btn-primary' %>
      </td>
    </tr>
  </table>
  <%= link_to "名言追加！", new_maxim_path, class: 'btn btn-lg btn-green400_ftg' %>
<% end %>
