<div class="page-header">
  <h2><%= t("helpers.titles.accounting") %></h2>
</div>
<table class="table table-striped">
  <thead>
    <tr class="nowrap">
      <th><%= t("helpers.attributes.accounting.fee")  %></th>
      <th><%= m @fee %></th>
    </tr>
  </thead>
  <thead>
    <tr class="nowrap">
      <th><%= t("helpers.attributes.accounting.room_member") %></th>
      <th><%= t("helpers.attributes.accounting.payment") %></th>
      <th><%= t("helpers.attributes.accounting.amount") %></th>
    </tr>
  </thead>
  <tbody>
    <% @accountings.each do |accounting| %>
      <tr class="nowrap">
        <td><%= accounting[:room_member] %></td>
        <td><%= m accounting[:payment] %></td>
        <td>
          <strong><%= m accounting[:amount] %></strong> <%= accounting[:message] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
