<div class="accordion accounting event" data-accordion>
  <div data-control>
    お会計詳細
  </div>
  <div data-content>
    <% if @accountings.present? %>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="nowrap">
            <th><%= t("helpers.attributes.accounting.room_member") %></th>
            <th><%= t("helpers.attributes.accounting.payment") %></th>
            <th><%= t("helpers.attributes.accounting.amount") %></th>
          </tr>
        </thead>
        <tbody>
          <% @accountings.each do |accounting| %>
          <tr class="nowrap">
            <td><%= accounting[:room_member] %></td>
            <td><%= m accounting[:payment] %></td>
            <td><strong><%= m accounting[:amount] %></strong> <%= accounting[:paid] ? "支払い" : "受取り" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
</div>
