<%- model_class = Event -%>
<div class="page-header">
  <h1><%= t("helpers.titles.event_index") %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr class="nowrap">
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:place) %></th>
      <th><%= model_class.human_attribute_name(:start) %></th>
      <th><%= model_class.human_attribute_name(:end) %></th>
      <th><%= t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event_path(event) %></td>
        <td><%= event.place %></td>
        <td class="nowrap"><%= l event.start %></td>
        <td class="nowrap"><%= l event.end %></td>
        <td class="nowrap">
          <%= link_to t("helpers.links.show"), event_path(event), class: 'btn btn-info' %>
        <% if event.sponsors.include?(current_user.id) %>
          <%= link_to t("helpers.links.edit"), edit_event_path(event), class: 'btn btn-success' %>
          <%= link_to t("helpers.links.destroy"),
                      event_path(event),
                      method: :delete,
                      data: { confirm: t("helpers.links.confirm") },
                      class: 'btn btn-danger' %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t("helpers.links.new"), new_event_path, class: 'btn btn-primary' %>
