<%- model_class = Event -%>
<!--  header -->
<div class="page-header" id="event-header">
  <%= content_tag(:div, data: { url: event_url(@event), title: "イベント編集", method: "PUT" }, id: "edit-event", class: "title-text mb-2") do %>
    <%= @event.name %>
  <% end %>
  <div class="text-center sub-text" id="event-place" value="<%= @event.place %>">
    <p><%= model_class.human_attribute_name(:place) %> : <%= @event.place %></p>
  </div>
  <% if @event.start.present? %>
  <div class="text-center sub-text" id="event-start" value="<%= @event.start.strftime("%Y-%m-%d") %>">
    <p><%= model_class.human_attribute_name(:start) %> : <%= l @event.start %></p>
  </div>
  <% end  %>
  <% if @event.end.present? %>
  <div class="text-center sub-text" id="event-end" value="<%= @event.end.strftime("%Y-%m-%d") %>">
    <p><%= model_class.human_attribute_name(:end) %> : <%= l @event.end %></p>
  </div>
  <% end %>
  <div class="text-center sub-text mb-2" id="event-memo">
    <%= simple_format @event.memo %>
  </div>
  <div class="text-center">
    <ul class="pl-0">
      <% @event.room_members.each do |room_member| %>
        <%= content_tag(:li, room_member.name, value: room_member.id, class: "label label-info") %>
      <% end %>
    </ul>
  </div>
</div>

<div class="row mb-2">
  <div class="form-group text-center">
    <div class="col-lg-12 col-xs-12">
      <%= content_tag(:label, "+", data: { url: event_expenses_url(@event), title: "支出追加", method: "POST" }, id: "new-expense", class: "btn btn-primary btn-circle btn-lg") %>
    </div>
  </div>
</div>

<!-- gas -->
<div class="accordion expenditure_color search mb-2" data-accordion>
    <div data-control>
      <b>ガス料金計算</b><p>走行距離、燃費、都道府県を選択すれば自動で計算されます</p>
    </div>
    <div data-content>
      <%= form_tag gas_events_path, method: :get, class: "form-horizontal" do %>
        <div class="form-group">
          <%= label_tag :from_date, "走行距離(km)", class: 'control-label col-lg-2' %>
          <div class="col-lg-2 col-xs-8">
            <input id="running_km" type="number" name="km" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :from_date, "燃費", class: 'control-label col-lg-2' %>
          <div class="col-lg-2 col-xs-8">
            <input id="gas_mileage" type="number" name="gm" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :prefectures, "都道府県", class: 'control-label col-lg-2' %>
          <div class="col-lg-2 col-xs-8">
            <%= collection_select :prefectures, :name, Settings.prefectures.map.with_index {|r, i| [i + 1, r]}, :first, :last, { prompt: "選択して計算" }, { class: "form-control" } %>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-lg-2">ガソリン料金</label>
          <div class="col-lg-2 col-xs-8">
            <label id="gas_price"></label>
          </div>
        </div>
      <% end %>
    </div>
</div>

<!-- chart -->
<div class="row mb-2">
<% groups = @expenses.group_by(&:name) %>
<%= content_tag(:canvas, "", data: { title: "項目別グラフ", labels: Expense::ITEM.to_json.html_safe, numbers: Expense::ITEM.map {|key| groups[key]&.map(&:payment)&.inject(:+) || 0 }.to_json.html_safe }, id: "pieGraph") %>
</div>

<%= render template: 'expenses/index' %>

<%= render partial: 'accounting' %>

<%= render partial: 'form' %>

<%= render partial: 'expenses/form' %>

<script>
  graph.Pie("pieGraph");
</script>
