<%= form_with(model: inter_change, local: true) do |form| %>
  <% if inter_change.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inter_change.errors.count, "error") %> prohibited this inter_change from being saved:</h2>

      <ul>
      <% inter_change.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prefectures %>
    <%= form.text_field :prefectures, id: :inter_change_prefectures %>
  </div>

  <div class="field">
    <%= form.label :highway %>
    <%= form.text_field :highway, id: :inter_change_highway %>
  </div>

  <div class="field">
    <%= form.label :ic %>
    <%= form.text_field :ic, id: :inter_change_ic %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
