<p id="notice"><%= notice %></p>

<h1>Inter Changes</h1>

<table>
  <thead>
    <tr>
      <th>Prefectures</th>
      <th>Highway</th>
      <th>Ic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inter_changes.each do |inter_change| %>
      <tr>
        <td><%= inter_change.prefectures %></td>
        <td><%= inter_change.highway %></td>
        <td><%= inter_change.ic %></td>
        <td><%= link_to 'Show', inter_change %></td>
        <td><%= link_to 'Edit', edit_inter_change_path(inter_change) %></td>
        <td><%= link_to 'Destroy', inter_change, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inter Change', new_inter_change_path %>
