<p id="notice"><%= notice %></p>

<p>
  <strong>Prefectures:</strong>
  <%= @inter_change.prefectures %>
</p>

<p>
  <strong>Highway:</strong>
  <%= @inter_change.highway %>
</p>

<p>
  <strong>Ic:</strong>
  <%= @inter_change.ic %>
</p>

<%= link_to 'Edit', edit_inter_change_path(@inter_change) %> |
<%= link_to 'Back', inter_changes_path %>
