<%= form_for @maxim, :html => { :class => "form-horizontal maxim" } do |f| %>
  <% if @maxim.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@maxim.errors.count, "error") %> prohibited this maxim from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @maxim.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :category, :class => 'control-label col-lg-2' %>
    <div class="col-md-5">
      <%= f.select :category, @category, class: 'form-control' %>
    </div>
    <%=f.error_span(:category) %>
  </div>
  <div class="form-group">
    <%= f.label :remark, :class => 'control-label col-lg-2' %>
    <div class="col-md-10">
      <%= f.text_field :remark, :class => 'form-control' %>
    </div>
    <%=f.error_span(:remark) %>
  </div>
  <div class="form-group">
    <%= f.label :author, :class => 'control-label col-lg-2' %>
    <div class="col-md-5">
      <%= f.text_field :author, :class => 'form-control' %>
    </div>
    <%=f.error_span(:author) %>
  </div>
  <div class="form-group">
    <%= f.label :source, :class => 'control-label col-lg-2' %>
    <div class="col-md-5">
      <%= f.text_field :source, :class => 'form-control' %>
    </div>
    <%=f.error_span(:source) %>
  </div>
  <div class="form-group">
    <%= f.label :url, :class => 'control-label col-lg-2' %>
    <div class="col-md-5">
      <%= f.text_field :url, :class => 'form-control' %>
    </div>
    <%=f.error_span(:url) %>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-md-5">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                maxims_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
