<%- model_class = Maxim -%>

<header class="tweet-header">
  <section class="content">
    <!--  title header  -->
    <h1><%=t('.title')%></h1>

    <!--  insert button  -->
    <p class="pt-1"><%= link_to 'Or new create?', new_maxim_path, class: "tweet-link"  %></p>
    <p class="pt-1"><%= link_to 'Back to Top', root_path, class: "tweet-link" %></p>
  </section>
</header>

<!-- pagination -->
<div class="text-center">
  <%= paginate @maxims %>
</div>

<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:remark) %></th>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th><%= model_class.human_attribute_name(:source) %></th>
      <th><%=t '.actions', default: t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @maxims.each do |maxim| %>
      <tr>
        <td><%= simple_format maxim.remark %></td>
        <td><%= maxim.author %></td>
        <td><%= maxim.source %></td>
        <td class="nowrap">
          <%= link_to t('.edit', default: t("helpers.links.edit")),
                      edit_maxim_path(maxim), class: 'btn btn-success' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<!-- pagination -->
<div class="text-center">
  <%= paginate @maxims %>
</div>
