<%- model_class = Maxim -%>

<h1 class="maxim-index">Remarks</h1>

<div class="text-center pt-2">
  <%= link_to "new create", "#", data: { url: maxims_url, title: "New Remarks!", method: "POST"  }, class: "button maxim-link", id: "new-maxims" %>
</div>

<div class="text-center pt-2">
  <a class="button maxim-link" href="/">Go to Top</a>
</div>

<!-- pagination -->
<div class="text-center">
  <%= paginate @maxims %>
</div>

<div class="table-responsive">
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:remark) %></th>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th><%= model_class.human_attribute_name(:source) %></th>
    </tr>
  </thead>
  <tbody>
    <% @maxims.each do |maxim| %>
      <tr data-url="<%= maxim_url(maxim) %>" data-id="<%= maxim.id %>" data-method="PUT" data-title="Edit Maxim" class="edit-maxim">
        <td class="wrap" name="remark"><%= simple_format maxim.remark %></td>
        <td name="author"><%= maxim.author %></td>
        <td name="source"><%= maxim.source %></td>
        <td class="hidden" name="url"><%= maxim.url %></td>
        <td class="hidden" name="category"><%= maxim.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<!-- pagination -->
<div class="text-center">
  <%= paginate @maxims %>
</div>

<!-- form -->
<%= render partial: 'form' %>
