<div id="expenditure-form" class="hidden">
  <% model_class = Expenditure %>
    <%= form_for Expenditure.new, url: "#", :html => { :class => "form-horizontal" } do |f| %>
    <%= f.hidden_field_tag :line_user_id, @line_user.id %>
    <div class="form-group">
      <div class="col-lg-6 col-xs-10">
        <%= f.date_field :entry_date, value: (f.object.entry_date || Time.now.strftime("%Y-%m-%d")), class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-8 col-xs-10">
        <%= f.collection_select :category, Expenditure::ITEM, :itself, :itself, { prompt: model_class.human_attribute_name(:category) }, { class: "form-control" } %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-8 col-xs-7">
        <%= f.number_field :payment, class: 'form-control', placeholder: model_class.human_attribute_name(:payment) %>
      </div>
      <div class="col-lg-4 col-xs-5">
        <div class="input-group">
          <%= f.number_field :margin, class: 'form-control', id: "expenditure_margin", placeholder: "%" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-8 col-xs-10">
        <%= f.text_area :memo, class: 'form-control', placeholder: model_class.human_attribute_name(:memo), rows: 3 %>
      </div>
    </div>
  <% end %>
</div>
