<!--検索窓 -->
<div class="accordion expenditure_color search mb-2" data-accordion>
    <div data-control>
      <%= t("helpers.links.search") %>
    </div>
    <div data-content>
      <%= form_tag line_user_expenditures_path(@line_user), method: :get, class: "form-horizontal" do %>
        <div class="form-group">
          <%= label_tag :from_date, t("helpers.search.from_date"), class: 'control-label col-lg-2' %>
          <div class="col-lg-2 col-xs-8">
            <%= date_field_tag :from_date, nil, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :to_date, t("helpers.search.to_date"), class: 'control-label col-lg-2' %>
          <div class="col-lg-2 col-xs-8">
            <%= date_field_tag :to_date, nil, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :category, t("helpers.search.category"), class: 'control-label col-lg-2' %>
          <div class="col-lg-2 col-xs-8">
            <%= collection_select :category, :name, Expenditure::ITEM, :itself, :itself, { prompt: "経費科目" }, { class: "form-control" } %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-4 col-xs-6">
            <%= submit_tag t("helpers.links.search"), class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
</div>
