<!--検索窓 -->
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="#panelCollapseSummary" data-toggle="collapse">
        <%= t("helpers.links.summary") %>
      </a>
    </h3>
  </div>
  <div class="panel-body">
    <div id="panelCollapseSummary" class="collapse">
      <!--  content list  -->
      <div class="table-responsive">
        <p class="lead">総支出額 <strong><%= m @summary.values.inject(:+) %></strong></p>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr class="nowrap">
              <th><%= t("activerecord.attributes.expenditures.category") %></th>
              <th><%= t("helpers.links.summary") %></th>
            </tr>
          </thead>
          <tbody>
            <% @summary.each do |category, payment| %>
              <tr class="nowrap">
                <td><%= category %></td>
                <td><%= m payment %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
