<%- model_class = HouseExpenditure -%>
<% @house_expenditures.each do |key, expenditures| %>
<div class="page-header">
  <h2><%= model_class::CATEGORY[key] %></h2>
  <h4><%= "合計 : #{m(expenditures.map(&:payment).inject(:+))}" %></h4>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr class="nowrap">
        <th><%= model_class.human_attribute_name(:entry_date) %></th>
        <th><%= model_class.human_attribute_name(:room_member) %></th>
        <th><%= model_class.human_attribute_name(:payment) %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
      </tr>
    </thead>
    <tbody>
      <% expenditures.each do |expense| %>
        <%= content_tag(:tr, data: {id: expense.id, link: house_house_expenditure_url(expense), title: "支出修正", method: "PUT", category: key}, class: "nowrap edit-house-expenditure") do %>
          <td name="entry_date" value="<%= expense.entry_date %>"><%= l expense.entry_date %></td>
          <td name="room_member" value="<%= expense.room_member_id %>"><%= @members[expense.room_member_id] %></td>
          <td name="payment" value="<%= expense.payment %>"><%= m expense.payment %></td>
          <td name="name"><%= expense.name %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
