<div id="expense-form" class="hidden">
  <% model_class = Expense %>
    <%= form_for Expense.new, url: "#", :html => { :class => "form-horizontal maxim" } do |f| %>
    <%= f.hidden_field_tag :event_id, @event.id %>
    <div class="form-group">
      <div class="col-lg-8 col-xs-10">
        <%= f.collection_select :name, Expense::ITEM, :itself, :itself, { prompt: model_class.human_attribute_name(:name) }, { class: "form-control" } %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-8 col-xs-10">
        <%= f.collection_select :room_member, @event.room_members, :id, :name, { prompt: model_class.human_attribute_name(:room_member) }, { class: 'form-control', rows: 2} %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-8 col-xs-10">
        <%= f.number_field :payment, class: 'form-control', placeholder: model_class.human_attribute_name(:payment) %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-8 col-xs-12">
        <%= f.text_area :memo, class: 'form-control', placeholder: model_class.human_attribute_name(:memo) %>
      </div>
    </div>
  <% end %>
</div>
