<div id="expense-form" class="hidden">
  <% model_class = Expense %>
    <%= form_for Expense.new, url: "#", :html => { :class => "form-horizontal maxim" } do |f| %>
    <%= f.hidden_field_tag :event_id, @event.id %>
    <div class="form-group">
      <%= label_tag :from_date, model_class.human_attribute_name(:name), class: 'control-label col-lg-2 text-left' %>
      <div class="col-lg-8 col-xs-10">
        <%= f.collection_select :name, Expense::ITEM, :itself, :itself, {}, { class: "form-control" } %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :currency, model_class.human_attribute_name(:currency), class: 'control-label col-lg-2 text-left' %>
      <div class="col-lg-6 col-xs-10">
        <%= f.collection_select :currency, Settings.currency, :first, :last, {}, { class: 'form-control'} %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :from_date, model_class.human_attribute_name(:room_member), class: 'control-label col-lg-2 text-left' %>
      <div class="col-lg-8 col-xs-10">
        <%= f.collection_select :room_member, @event.room_members, :id, :name, {}, { class: 'form-control', rows: 2} %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :from_date, model_class.human_attribute_name(:payment), class: 'control-label col-lg-2 text-left' %>
      <div class="col-lg-8 col-xs-10">
        <%= f.number_field :payment, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :from_date, model_class.human_attribute_name(:memo), class: 'control-label col-lg-2 text-left' %>
      <div class="col-lg-8 col-xs-12">
        <%= f.text_area :memo, class: 'form-control', rows: 3 %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :from_date, model_class.human_attribute_name(:exempts), class: 'control-label col-lg-2 text-left' %>
      <div class="col-lg-8 col-xs-10">
        <%= f.collection_select :exempts, @event.room_members, :id, :name, {}, { class: 'form-control', rows: 2, multiple: true} %>
      </div>
    </div>
  <% end %>
</div>
