<%- model_class = Expense -%>
<div class="accordion expenditure_color expense" data-accordion>
    <div data-control>
      支出総額 : <%= content_tag :strong, m(@total) %>
    </div>
    <div data-content>
      <% if @expenses.present? %>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr class="nowrap">
              <th><%= model_class.human_attribute_name(:room_member) %></th>
              <th><%= model_class.human_attribute_name(:name) %></th>
              <th><%= model_class.human_attribute_name(:payment) %></th>
              <th><%= model_class.human_attribute_name(:memo) %></th>
              <th><%= model_class.human_attribute_name(:exempts) %></th>
            </tr>
          </thead>
          <tbody>
            <% @expenses.each do |expense| %>
              <%= content_tag(:tr, data: {id: expense.id, url: event_expense_url(@event, expense), title: "支出修正", method: "PUT"}, class: "nowrap edit-expense") do %>
                <td name="room_member" value="<%= expense.room_member_id %>"><%= @members[expense.room_member_id] %></td>
                <td name="name"><%= expense.name %></td>
                <td name="payment" value="<%= expense.payment %>"><%= m expense.payment %></td>
                <td name="memo"><%= simple_format expense.memo %></td>
                <td name="exempt_members" value="<%= expense.exempts.map(&:id).join(",") %>"><%= expense.exempts.map(&:name).join(", ") %></td>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
</div>
