<!DOCTYPE html>
<html>
  <head>
    <title>Topuru</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <% home = %w[home maxims houses].include?(controller_name) %>
  <body class="<%= "tweet-home" if home %>">
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
