<!DOCTYPE html>
<html>
  <head>
    <title>Travelp</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://cdn.rawgit.com/maechabin/bootstrap-material-button-color/master/dist/cb-materialbtn.0.5.5.min.css' %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <p><%= link_to t('helpers.links.root'), root_url, class: 'btn btn-lightblue200_ftg' %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
